body {
  background-color: black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  margin-top: 5px;
  width: 100%;
  height: 100%;
}

.navFront {
  background-color: #2b2d2f;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-brand {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  text-decoration: underline;
}
.navUl {
  font-size: 20px;
}
.navUl li {
  margin: auto 10px;
}

main {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-flex;
  width: 100%;
  height: 100%;
}
section,
.aboutKW {
  margin-right: 30px;
  color: whitesmoke;
  width: 100%;
  height: 100%;
  list-style: none;
}
.nameJen {
  color: whitesmoke;
  font-size: 100px;
  margin-top: 100px;
  text-align: center;
}
.agent {
  text-align: center;
  font-size: 80px;
}
.frontP {
  text-align: center;
  font-size: 50px;
  margin-top: 60px;
}

aside {
  display: inline-flex;
  width: 100%;
  height: 100%;
}
.myPicture {
  width: 100%;
  height: 100%;
}
.kwLogo {
  margin-left: 20%;
  margin-right: 5%;
}

footer {
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
}
.carousel slide {
  display: center;
}
.aboutH2 {
  margin-bottom: 5%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: brown;
  padding: 3%;
}
.aboutmain {
  padding: 2%;
  width: 90%;
  height: auto;
}
